# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
